.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: var(--zi-header);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.header__logo {
  width: 100%;
  max-width: 17.5rem;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.header__menu-toggle {
  display: grid;
  position: relative;
  width: 3rem;
  height: 2.3rem;
  z-index: var(--zi-toggle);
  place-items: center;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.8;
  }
}

.header__menu-bar {
  position: absolute;
  background-color: #121212;
  width: 3rem;
  height: 2px;
  transition: all 0.6s ease;
  transform: rotate(0deg);
}

.header__menu-bar:nth-child(1) {
  transform: translateY(-1.15rem);
}

.header__menu-bar:nth-child(2) {
  transform: translateY(0);
}

.header__menu-bar:nth-child(3) {
  transform: translateY(1.15rem);
}

.header__menu-toggle.is-open .header__menu-bar:nth-child(1) {
  transform: translateY(0) rotate(405deg);
  background-color: #fff;
}

.header__menu-toggle.is-open .header__menu-bar:nth-child(2) {
  opacity: 0;
}

.header__menu-toggle.is-open .header__menu-bar:nth-child(3) {
  transform: translateY(0) rotate(-405deg);
  background-color: #fff;

}

.header__mask {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000cc;
  opacity: 0;
  z-index: var(--zi-mask);
  pointer-events: none;
}

.header__mask.is-open {
  opacity: 1;
  pointer-events: auto;
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100vh;
  padding: 6rem 2.5rem 0;
  background-color: #000;
  color: #fff;
  font-size: var(--fz-base);
  z-index: var(--zi-menu);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.header__menu.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.header__nav {
  width: 25rem;
  margin-bottom: 6.5rem;
}

.header__nav-item {
  padding: 2rem 0;
  border-top: 1px solid #fff;

  &:last-child {
    border-bottom: 1px solid #fff;
  }
}

.header__social-item {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}