@charset "UTF-8";

@charset "UTF-8";
$fz-sm: 1.4;
$fz-md: 1.6;
$fz-lg: 1.8;
$fz-xl: 2.4;

@mixin pc {
    @media (min-width:900px) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

body.no-scroll {
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: clamp(10rem, 10vh, 8rem);
    background-color: #fff;
}

.header__inner {
    padding: clamp(2.5rem, 5vw, 4rem) 0 0 clamp(2.5rem, 5vw, 4rem);
    height: 100%;
}

.title-logo {
    display: block;
    width: 10rem;
    height: auto;

    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.header__menu-button {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: clamp(7.5rem, 20vw, 10rem);
    aspect-ratio: 1 / 1;
    background-color: #FF2A2A;
    border: none;
    text-align: center;
    cursor: pointer;
    --bar-offset: 11px;

    @include pc(){
    --bar-offset: 14px;
    }
}

.header__menu-bar {
    position: absolute;
    background-color: #fff;
    width: 50%;
    height: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.header__menu-bar:nth-child(1) {
    transform: translateY(calc(-1*var(--bar-offset)));
}
.header__menu-bar:nth-child(2) {
    transform: translateY(0);
}
.header__menu-bar:nth-child(3) {
    transform: translateY(var(--bar-offset));
}

.header__menu-button.is-open .header__menu-bar:nth-child(1) {
    transform: rotate(45deg);
}
.header__menu-button.is-open .header__menu-bar:nth-child(2) {
    opacity: 0;
}
.header__menu-button.is-open .header__menu-bar:nth-child(3) {
    transform: rotate(-45deg);
}

.main-wrapper {
    padding-top: clamp(8rem, 14vh, 10rem);
}

.hero__visual {
    position: relative;
    width: 100%;
    height: 60vh;
    max-height: 30rem;

    @include pc() {
        max-width: 105rem;
        width: 75%;
        height: auto;
        max-height: 72rem;
        aspect-ratio: 3/2;
    }
}

.hero__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    opacity: 0;
    box-shadow: inset 0 0 20px 20px #fff;
    animation: fadeBg 21s infinite;
}

.hero__bg--1 {
    background-image: url(../img/mainvisual1.jpg);
    animation-delay: 0s;
}

.hero__bg--2 {
    background-image: url(../img/mainvisual2.jpg);
    animation-delay: 7s;
}

.hero__bg--3 {
    background-image: url(../img/mainvisual3.jpg);
    animation-delay: 14s;
}

@keyframes fadeBg {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.drawer {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: #FF2A2A;
    color: #fff;
}

.drawer.is-open{
    display: block;
}