.footer {
    padding-top: 8rem;
    background-color: #121212;
    color: #fff;

    @media (min-width: 1280px) {
        padding-top: 5rem;
    }
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34.3rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 8rem;

    @media (min-width: 1280px) {
        gap: 14rem;
        width: 85%;
        padding: 3rem 0 5rem;
    }
}

.footer__info {
    max-width: 53rem;
    width: 100%;

}

.footer__text {
    font-size: var(--fz-base);
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__form {
    max-width: 55rem;
    width: 100%;
}

.footer__field {
    margin-bottom: 2rem;

}


.footer__label {
    font-size: var(--fz-base);

}

.footer__input {
    width: 100%;
    background-color: #fff;
}

.footer__input--sm {
    height: 4.4rem;
}

.footer__input--lg {
    resize: none;
}


.footer__button {
    width: 100%;
    border: 1px solid #fff;
    background-color: transparent;
    height: 4.9rem;
    color: #fff;
    font-size: var(--fz-base);
    cursor: pointer;

    @media (min-width: 1280px) {
        max-width: 20rem;
    }
}

.footer__copy {
    text-align: center;
    padding: 1rem 0;
}