@charset "UTF-8";
$fs: 1.4;
$fs-sm: 1.2;

html {
    font-family: "Hiragino Kaku Gothic ProN", serif;
    font-size: 62.5%;
    background-color: #F0F0F0;
}


.logo--home,
.logo--sub {
    display: none;
}

.is-home .logo--home {
    display: block;
}

body:not(.is-home) .logo--sub {
    display: block;
}


.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    @media screen and (max-width:900px) {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 9rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    height: 80px;

    @media screen and (max-width:900px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        width: 90%;
        margin: 0 5%;
    }
}

.site-logo {
    width: 10rem;
    height: 2.5rem;

    a {
        display: block;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (max-width:900px) {
        width: 8rem;
        height: 2rem;
    }
}


.header__logo {
    margin-left: 10rem;

    @media screen and (max-width:900px) {
        margin-left: 0;
    }
}

.header__nav {
    margin-right: auto;
}

ul {
    display: flex;
    gap: 3rem;
    font-size: $fs*1rem;
}

.header__contact {
    width: 20rem;
    height: 8rem;
    background-color: #000;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: $fs-sm*1rem;
    }

    @media screen and (max-width:900px) {
        display: none;
    }
}

.mainvisual {
    width: 100%;
    height: calc(100vh - 80px);
    margin-bottom: 12rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width:900px) {
        margin-bottom: 8rem;
    }
}

.main {
    font-size: $fs*1rem;
}

.news {
    margin-bottom: 12rem;
}

.section-header {
    margin-bottom: 5rem;

    @media screen and (max-width:900px) {
        margin-bottom: 3.4rem;
    }
}

.section-header__title {
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
}

.section-header__subtitle {
    margin-bottom: 3.6rem;

    @media screen and (max-width:900px) {
        margin-bottom: 2.4rem;
    }
}

.section-header__line {
    width: 4rem;
    height: 1px;
    background-color: #000;
}

.news__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width:900px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }
}

.news__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    height: 8rem;

    &:not(:last-child) {
        margin-right: 2rem;
        border-right: solid 1px #000;

        @media screen and (max-width:900px) {
            margin-right: 0;
            border-right: none;
        }
    }

    @media screen and (max-width:900px) {
        height: 6rem;
        flex: none;
    }
}

.news__data--time {
    margin-right: 1rem;
}

.news__data--state {
    padding: 0.6rem;
    background-color: #000;
    color: #fff;
    font-size: $fs-sm*1rem;
    text-align: center;
}

.about {
    display: flex;
    width: 100%;
    margin-bottom: 12rem;

    @media screen and (max-width:900px) {
        flex-direction: column;
        margin-bottom: 8rem;
    }
}

.about__image {
    max-width: 77rem;
    height: 400px;
    margin-bottom: 12rem;
    margin-right: 7rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width:900px) {
        width: 100%;
        height: 300px;
        margin-bottom: 3rem;
        margin-right: 0;
    }
}

.about__container {
    width: 49rem;
    margin-top: 18rem;

    @media screen and (max-width:900px) {
        width: 90%;
        margin-top: 0;
        margin: 0 5%;
    }
}

.about__text {
    line-height: 2;
}

.business {
    margin-bottom: 10rem;

    @media screen and (max-width:900px) {
        margin-bottom: 8rem;
    }
}

.business__container {
    display: flex;
    gap: 6.4rem;
    padding: 0 12rem;

    @media screen and (max-width:900px) {
        flex-direction: column;
        gap: 3rem;
        padding: 0;
    }
}

.business__items {
    flex: 1;

    &>:first-child {
        @media screen and (max-width:900px) {
            margin-bottom: 3rem;
        }
    }
}

.business__items--column1 {
    margin-top: 10rem;

    @media screen and (max-width:900px) {
        margin-top: 0;
    }
}

.business__item-title {
    margin-bottom: 1rem;
    font-weight: bold;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0.8rem;
        height: 1px;
        margin-right: 1rem;
        background-color: #000;
    }
}

.business__item-image {
    width: 100%;
    object-fit: cover;
}

.company {
    display: flex;
    align-items: center;
    margin-bottom: 13rem;

    @media screen and (max-width:900px) {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 5rem;
    }
}

.company__container {
    padding: 10rem 14rem 10rem 6.2rem;
    background-color: #fff;

    @media screen and (max-width:900px) {
        width: 100%;
        padding: 4rem 2rem;

    }
}

.company__list-text {
    display: inline;
}

.company__lists {
    display: grid;
    grid-template-columns: 8.5rem 1fr;
    row-gap: 1rem;

    @media screen and (max-width:900px) {
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
    }
}

.company__list-title {
    grid-column: 1;
}

.company__list-text {
    grid-column: 2;
    text-wrap: nowrap;

    @media screen and (max-width:900px) {
        grid-column: 1;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        text-wrap: wrap;

    }
}

.company__image {
    width: 100%;
    height: 400px;
    margin-left: -8%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width:900px) {
        margin-left: 0;
    }
}

.footer {
    padding: 4rem 0 2rem;
    background-color: #fff;
}

.footer__contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 4rem;

    @media screen and (max-width:900px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 90%;
        margin: 0 5% 4rem;
    }
}

.footer__lists ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.footer__copyright {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    @media screen and (max-width:900px) {
        width: 90%;
        margin: 0 5%;
    }
}


// news.html
.section-header__title--page {
    margin: 8rem 0;
}

.news-press {
    margin-bottom: 12rem;
    font-size: $fs*1rem;
}

.news-press__tabs {
    display: flex;
}

.news-press__tab {
    width: 24rem;
    padding-bottom: 2rem;

    @media screen and (max-width:900px) {
    width: 17rem;
    }
}

.news-press__tab--news {
    border-bottom: 3px solid #000;

}

.news-press__tab-text {
    text-align: center;
}

.news-press__item {
    margin: 5rem 0;

    @media screen and (max-width:900px) {
    margin: 4rem 0;
        }
}

.news-press__items-line {
border: none;
border-top: 1px solid #cccccc;
}

.news__data{
    margin-bottom: 1rem;
}