@charset "UTF-8";
$fz-sm: 1.4;
$fz-md: 1.6;
$fz-lg: 1.8;
$fz-xl: 2.4;

@mixin mobile {
    @media (max-width:767px) {
        @content;
    }
}

html {
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    font-size: 62.5%;
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.6rem;

    @include mobile() {
        max-width: 100%;
    }
}

.header {
    margin-bottom: 4.4rem;

    @include mobile {
        margin-bottom: 3.4rem;
    }
}

.header__logo-wrapper {
    max-width: 120rem;
    margin: 2rem auto;
    padding: 0 1.6rem;
}

.header__logo {
    width: 14.5rem;
    height: 3rem;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.header__nav {
    background-color: #333;
}

.header__nav-list {
    display: flex;
    gap: 6rem;
    padding: 1rem 1.6rem;
    color: #fff;
    font-size: $fz-sm*1rem;

    @include mobile() {
        justify-content: space-around;
        gap: 0;
    }
}

.header__nav-item:last-child {
    @include mobile {
        display: none;
    }
}

.pickup {
    display: flex;
    justify-content: center;
    gap: 2.3rem;
    margin-bottom: 7rem;
    font-size: $fz-md*1rem;

    @include mobile() {
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 10rem;
    }
}

.pickup__image {
    width: 100%;
    max-width: 37.3rem;
    height: auto;
    margin-bottom: 1rem;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    @include mobile {
        max-width: 100%;
    }
}

.pickup__description {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.link-wrapper {
    text-align: center;
    font-size: $fz-sm*1rem;
}

.link-underline {
    border-bottom: 1px solid #000;

    &:hover {
        border-bottom: none;
    }
}

.layout {
    display: flex;
    justify-content: space-between;
    gap: 4.3rem;
    margin-bottom: 14rem;

    @include mobile() {
        flex-direction: column;
        gap: 0;
        margin-bottom: 12rem;
    }
}

.main {
    width: 70%;

    @include mobile() {
        width: 100%;
    }
}

.main__article {
    margin-bottom: 8rem;
}

.main__title {
    font-size: $fz-xl*1rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    font-weight: bold;
}

.main__meta {
    margin-bottom: 1rem;
    font-size: $fz-sm*1rem;
}

.main__time {
    padding-right: 2rem;
}

.main__image-wrapper {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.main__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main__description {
    padding: 0 4rem;
    margin-bottom: 3rem;
    font-size: $fz-md*1rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6rem;
    width: 30%;
    margin-top: 1rem;

    @include mobile() {
        width: 100%;
    }
}

.heading {
    font-size: $fz-lg*1rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.profile__name {
    margin-bottom: 3.4rem;

    @include mobile() {
        margin-bottom: 3rem;
    }
}

.profile__image {
    width: 13rem;
    height: 13rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 50%;
    object-fit: cover;

    @include mobile {
        margin-top: 0;
    }
}

.profile__description {
    font-size: $fz-sm*1rem;
    text-align: left;
}

.ranking__item {
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.ranking__image-wrapper {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.ranking__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ranking__description {
    font-size: $fz-sm*1rem;
    text-align: left;
}

.archive__list {
    text-align: left;
    font-size: $fz-sm*1rem;

    &::after {
        content: "";
        display: block;
        background-color: #000;
        height: 1px;
        margin: 2rem 0;

    }

    &:first-child::before {
        content: "";
        display: block;
        background-color: #000;
        height: 1px;
        margin-bottom: 2rem;
    }

    a {
        padding-left: 1rem;
    }
}

.footer {
    background-color: #F7F7F7;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding-top: 5rem;
    margin-bottom: 6rem;
    font-size: $fz-sm*1rem;

    @include mobile {
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 9rem;
    }
}

.about {
    flex: 1;
}

.about__description {
    margin-bottom: 2rem;
}

.about__links {
    display: flex;
    flex-direction: column;
}

.about__link {
    margin-bottom: 0.5rem;

    &::before {
        content: "";
        display: inline-block;
        height: 1.2rem;
        margin-right: 0.2rem;
        aspect-ratio: cos(30deg);
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        background: linear-gradient(45deg, #000, #000);
    }
}

.menu {
    flex: 1;
}

.menu__link {
    &::after {
        content: "";
        display: block;
        background-color: #000;
        height: 1px;
        margin: 1.5rem 0;

    }

    &:first-child::before {
        content: "";
        display: block;
        background-color: #000;
        height: 1px;
        margin-bottom: 1.5rem;
    }

    a {
        padding-left: 1.5rem;
    }
}

.social {
    flex: 1;
}

.footer__copyright {
    padding-bottom: 1rem;
    text-align: center;
}