* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

header,
footer,
nav,
article,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

a {
  color: inherit;
}

hr {
  margin: 0;
}