@charset "UTF-8";

@mixin pc {
    @media (min-width:1280px) {
        @content;
    }
}

$zi-header: 100;
$zi-mask: 200;
$zi-menu: 300;
$zi-toggle: 400;

$fz-sm: 1.2rem;
$fz-base: 1.44rem;
$fz-lg: 2.4rem;

html {
    font-size: 62.5%;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: $zi-header;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.header__logo {
    width: 100%;
    max-width: 17.5rem;
    height: auto;

    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.header__menu-toggle {
    display: grid;
    position: relative;
    width: 3rem;
    height: 2.3rem;
    z-index: $zi-toggle;
    place-items: center;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.5s ease;

    &:hover {
        opacity: 0.8;
    }
}

.header__menu-bar {
    position: absolute;
    background-color: #121212;
    width: 3rem;
    height: 2px;
    transition: all 0.6s ease;
    transform: rotate(0deg);
}

.header__menu-bar:nth-child(1) {
    transform: translateY(-1.15rem);
}

.header__menu-bar:nth-child(2) {
    transform: translateY(0);
}

.header__menu-bar:nth-child(3) {
    transform: translateY(1.15rem);
}

.header__menu-toggle.is-open .header__menu-bar:nth-child(1) {
    transform: translateY(0) rotate(405deg);
    background-color: #fff;
}

.header__menu-toggle.is-open .header__menu-bar:nth-child(2) {
    opacity: 0;
}

.header__menu-toggle.is-open .header__menu-bar:nth-child(3) {
    transform: translateY(0) rotate(-405deg);
    background-color: #fff;

}

.header__mask {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000cc;
    opacity: 0;
    z-index: $zi-mask;
    pointer-events: none;
}

.header__mask.is-open {
    opacity: 1;
}

.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100vh;
    padding: 6rem 2.5rem 0;
    background-color: #000;
    color: #fff;
    font-size: $fz-base;
    z-index: $zi-menu;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.header__menu.is-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.header__nav {
    width: 25rem;
    margin-bottom: 6.5rem;
}

.header__nav-item {
    padding: 2rem 0;
    border-top: 1px solid #fff;

    &:last-child {
        border-bottom: 1px solid #fff;
    }
}

.header__social-item {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.mainvisual {
    width: 100%;
    padding-top: 8rem;
    margin-bottom: 8rem;

    @include pc() {
        margin-bottom: 10rem;
    }
}

.mainvisual video {
    width: 100%;
    height: calc(100vh - 8rem);
    object-fit: cover;
    display: block;
}

.pickup {
    margin-bottom: 10rem;
}

.section-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: $fz-lg;

    @include pc() {
        margin-bottom: 3rem;
        font-size: $fz-lg*1.5;
    }
}

.swiper {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 10;
}

.swiper-wrapper {
    height: auto;
}

.swiper-slide {
    width: 100%;
    min-width: 23.5rem;
    height: auto;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

.feature {
    width: 100%;
    margin-bottom: 9rem;

    @include pc() {
        margin-bottom: 6rem;
    }
}


.feature__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34.3rem, 1fr));
    justify-content: center;
    gap: 2.6rem;
    width: 96%;
    margin: 0 auto;

    @include pc() {
        grid-template-columns: repeat(auto-fit, minmax(38.5rem, 1fr));
        width: 85%;
    }
}

.feature__item {
    height: auto;
    box-shadow: 0 0 8px 6px #00000025;
}

.feature__img {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

.features__content {
    padding: 1.4rem;

    @include pc() {
        padding: 3rem;
    }
}

.feature__category {
    font-size: $fz-sm;
}

.feature__introduction {
    margin: 1.6rem 0;
    font-size: $fz-base;
    font-weight: bold;
}

.feature__time {
    display: block;
    font-size: $fz-sm;
    text-align: right;
}